@media (max-width: 1224px) {
   body {overflow-x: hidden;}
   
   .player {
      justify-content: center;
      width: 660px;
      .media-controls {
         .volume-block {
            right: 0;
            opacity: .85;
            transform: translate(65%, -50%);
         }
      }
   }
   
}

@media (max-width: 972px) {
   .player {
      .media-controls {
         .volume-block {
            top: -100%;
            left: 30%;
            transform: translate(0, -50%) rotate( -90deg );
         }
      }
   }
   
}


@media (max-width: 860px) {
   .player {
      width: 70%;

   }

}

@media (max-width: 680px) {
   
   .player {
      
      svg {
         width: 28px;
      }

      .list-button-block{
         .list-button{
            padding: 2px;
         }
      }

      .cover {
         width: 130px;
         height: 130px;
      }
      
      .song-info {
         font-size: 1em;
      }
      
      .media-controls {
         svg {
            width: 28px;
         }

         
      }
   }
}

@media (max-width: 440px) {
   .player {
      width: 260px;
      .media-controls {
         .volume-block {
            left: -30%;
         }
         svg {
            width: 24px;
            left: 0;
         }
      }
   }
}

@media (max-height: 510px) {
   .cover {
      display: none;
   }
}