@import "_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Varela+Round&display=swap');
@import "_mixin";
// #d62e4a
$MAIN_COLOR: lightseagreen;
$MAIN_WHITE: #ecdfdf;
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 32px;
  flex-flow: column nowrap;
  background: linear-gradient(73deg, #1d1a18, #272726); 
}

.player {
   
   display: flex;
   height: 100%;
   width: 1024px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   
   justify-content: center;
   flex-flow: column;

   .cover {

      height: 180px;
      width: 180px;
      overflow: hidden;
      border-radius: 50%;
      margin: 10px auto 40px;
      background: cover center;
      box-shadow: 0 0 5px 0 gray;
      
      img {

         height: 100%;
         width: 100%;
         object-fit: cover;
         transform: scale(1.1);
         transition: transform .5s ease-out;

         &:hover {
            transform: scale(1);
         }
      }
   }

   .song-info {
      text-align: center;
      margin: 15px 0 50px;
      font-size: 1.5em;
      opacity: 0.9;
      white-space: wrap;

      color: $MAIN_WHITE;

      .song-name{
         display: block;
         font-size: .5em;
         cursor: default;
         min-width: 100%;
         max-height: .5em;

         @include transitionHov( .1s, color, linear);
         &:hover {   
            color: $MAIN_COLOR;
         }
      }
      .song-artist{
         display: block;
         font-size: .6em;
         margin-top: 25px;
         cursor: pointer;
         @include transitionHov( .1s, color, linear);
         &:hover {   
            color: $MAIN_COLOR;
         }
      }
      
   }

   .progress-block {
      height: 2px;
      width: 100%;
      background: rgba(128, 128, 128, 0.7);
      border-radius: 30px;
      cursor: pointer;

      .progress-bar {
         height: 100%;
         width: 0%;
         background: $MAIN_COLOR;
         border-radius: 1em;
         
         position: relative;

         &::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color:  $MAIN_COLOR;
            top: 50%;
            right: -5px;
            transform: translateY(-50%);
            cursor: pointer;
            opacity: 0;
            border-left: none;
            @include transitionHov( .1s, opacity, linear);

         }

      }      

      &:hover .progress-bar::after {
         opacity: 1
      }
   }

   
   .time-block {
      margin: 10px 0 ;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: $MAIN_WHITE;
      span {
         font-size: .5em;
         font-weight: 600;
         cursor: default;
         @include transitionHov( .1s, color, linear);
         &:hover {
            color: $MAIN_COLOR;
         }
      }
      

   }


   .media-controls {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 20px 0 0;
      
      

      .player-button {
         position: relative;
         min-width: 20%;
         display: flex;
         justify-content: center;
      }
      
      svg {
         fill: $MAIN_WHITE;
         transform: scale(1);
         cursor: pointer;
         @include  transitionHov( .1s, fill, linear);
         &:active {
            transform: scale(.90);
         }

         &:hover {
            fill: $MAIN_COLOR;
         }
      }
      
      
      .loop-track {
         fill: teal;
         &:after {
            content: '1'
         }
      }

      .volume-block {
         display: none;
         justify-content: center;
         align-items: center;
         position: absolute;
         width: 150px;
         height: 25px;
         top: 50%;
         right: 0;
         opacity: .85;
         transform: translate(65%, -50%);
         background: $MAIN_WHITE; 
         border-radius: .3em;
         padding: 0 15px;
         margin-left: 50px;

         #volume-input {
            -webkit-appearance: none;
            width: 100%;
            height: 3px;
            background: rgba(128, 128, 128, 0.7); 
            margin-right: 30px;
            &:hover {
               opacity: 1;
            }
            &::-webkit-slider-thumb {
               -webkit-appearance: none;
               appearance: none;
               width: 10px;
               height: 10px;
               border-radius: 50%;
               background: $MAIN_COLOR;
               cursor: pointer;
             }
             &::-moz-range-thumb {
               width: 25px;
               height: 25px;
               background: $MAIN_COLOR;
               cursor: pointer;
             }
         }
            #volume-value {
               position: absolute;
               right: 5px;
               z-index: 10;
               display: flex;
               justify-content: center;
               align-items: center;
               font-size: .45em;
               font-weight: 600;
               line-height: .45em;
            }
      }
     
      

      .player-button:hover .volume-block {
         display: flex;
      }
      
   }
}

.track-list-block {
   display: block;
   width: 100%;
   background: teal;
}

.marquee-class {
   &:hover {
      animation: infinite 3s marquee alternate;
   }
}

@keyframes marquee {
   0% {
      transform: translateX(0) 
   }
   100% {
      transform: translateX(-5%);
   }
}

@media (max-width: 1224px) {
   .player {
      width: 660px;

      .volume-block {
         display: none;
         position: absolute;
         width: 150px;
         height: 25px;
         top: 50%;
         right: 0;
         opacity: .85;
         transform: translate(65%, -50%);
      }
   }
}


@media (max-width: 860px) {
   .player {
      width: 580px;

   }

}

@media (max-width: 680px) {
   
   .player {
      width: 400px;
      .cover {
         width: 130px;
         height: 130px;
      }
      
      .song-info {
         font-size: 1em;
      }
      
      .media-controls {
         svg {
            width: 28px;
         }
      }
   }
}

@media (max-width: 440px) {
   .player {
      width: 260px;
   }
   .media-controls {
      svg {
         width: 24px;
      }
   }
}
