@media (max-width: 1224px) {
  .player {
    width: 660px;
  }
  .volume-block {
    display: none;
    position: absolute;
    width: 150px;
    height: 25px;
    top: 50%;
    left: 0;
    opacity: .85;
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
}

@media (max-width: 860px) {
  .player {
    width: 580px;
  }
}

@media (max-width: 680px) {
  .player {
    width: 400px;
  }
  .player .cover {
    width: 130px;
    height: 130px;
  }
  .player .song-info {
    font-size: 1em;
  }
  .player .media-controls svg {
    width: 28px;
  }
}

@media (max-width: 440px) {
  .player {
    width: 260px;
  }
  .media-controls svg {
    width: 24px;
  }
}
